.container {
  display:block;
  width:50%;
  margin:auto;
}

.list-img {
  width:160px;
  height:160px;
  object-fit: cover;
  float: left;
  margin-right:20px;
}

.list-div {
  display:block;
  height:180px;
  border-bottom:1px #ccc dashed;
}
